.top-header {
  background-color: #E9B83C;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header1{
  font-family: 'Delius Swash Caps', cursive;
  color: white;
}

.entries-button {
  height: 30px;
  border: 1px dashed black;
  background-color: #E9B83C;
  font-family: 'Delius Swash Caps', cursive;
  font-size: 1.25rem;
  color: black;
  cursor: pointer;
}

.entries-button:hover {
  border: 1px dashed white;
  color: white;
}

.entries-section {
  padding: 0 20px;
}

.page1 {
  margin-top: 30px;
}

.header2 {
  font-family: 'Delius Swash Caps', cursive;
}

.random-button {
  font-family: 'Roboto', sans-serif;
  background-color: #26A69A;
  border: none;
  color: white;
  border-radius: 3px;
  padding: 7px 20px;
}

.save-button:hover,
.save-button-edit:hover,
.random-button:hover,
.modal-cancel-button:hover,
.modal-confirm-button:hover,
.delete-button:hover {
  background-color: #E9B83C;
  color: black;
}

.no-entries {
  font-family: 'Roboto', sans-serif;
  margin-top: 50px
}

/* New Entry */

.random-cat-image {
  height: 350px;
  width: 400px;
  border: 5px dashed black;
  margin: 10px 0 10px 20px;
}

.random-cat-image:hover {
  border: 7px dashed #E9B83C;
}

.inputfield {
  font-family: 'Cantarell', sans-serif;
}

.text-overlay {
  position: relative;
  top: 10px;
  left: 10px;
  width: fit-content;
  background: white;
}

.title-photo {
  width: 80%;
  margin-left: 25px;
}

.text-input {
   border: 1px solid lightgray;
   border-radius: 6px;
   padding: 5px;
}

.note-section {
  margin-top: 75px;
}

.url-input-span {
  margin-top: 25px;
}

.save-button,
.save-button-edit {
  font-family: 'Roboto', sans-serif;
  background-color: #26A69A;
  border: none;
  color: white;
  border-radius: 3px;
  padding: 6px 10px;
  margin-top: 30px;
  float: right;
  cursor: pointer;
}


.pen-icon {
  font-size: 2rem;
}

.pen-icon:hover {
  color: rgb(202, 20, 20);
}

/* Edit page */

.cancel-button {
  border: 1px solid red;
  background-color: white;
  font-family: 'Cantarell', sans-serif;
  margin-right: 25px;
  font-size: 1rem;
  color: red;
  font-weight: 800;
  cursor: pointer;
}

.cancel-button:hover {
  border: 2px solid black;
  color: black;
  background-color: tomato;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.delete-button {
  font-family: 'Roboto', sans-serif;
  background-color: tomato;
  border: none;
  color: white;
  border-radius: 3px;
  padding: 6px 10px;
  margin-top: 30px;
  float: right;
  cursor: pointer;
}


/* Modal */

.modal-overlay {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.modal {
  background-color: white;
  display: flex;
  align-items: center;
  width: 450px;
  height: 200px;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  margin: 35% auto;
}

.modal-content {
  margin-top: 50px;
}

.modal-text {
   font-family: 'Cantarell', sans-serif;
   text-align: center;
}


.modal-button-container{
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.modal-confirm-button {
  font-family: 'Roboto', sans-serif;
  background-color:  tomato;
  border: none;
  color: white;
  border-radius: 3px;
  padding: 6px 10px;
  cursor: pointer;
}

.modal-cancel-button {
  font-family: 'Roboto', sans-serif;
  background-color: #26A69A;
  border: none;
  color: white;
  border-radius: 3px;
  padding: 6px 10px;
  cursor: pointer;
}
