.top-header {
  background-color: #E9B83C;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header1{
  font-family: 'Cantarell', sans-serif;
  color: white
}

.entries-button {
  height: 30px;
  border: none;
  background-color: #E9B83C;
  font-family: 'Delius Swash Caps', cursive;
  font-size: 1.25rem;
  color: white;
}

.entries-button:hover {
  color: black;
}

.entries-section {
  padding: 0 20px;
}

.page1 {
  margin-top: 30px;
}

.header2 {
  font-family: 'Delius Swash Caps', cursive;
}

.random-button {
  font-family: 'Roboto', sans-serif;
  background-color: #26A69A;
  border: none;
  color: white;
  border-radius: 3px;
  padding: 7px 20px;
}

.random-button:hover {
  background-color: #E9B83C;
  color: black;
}

.no-entries {
  font-family: 'Roboto', sans-serif;
  margin-top: 50px
}

/* page 2 */

.random-cat-image {
  height: 350px;
  width: 400px;
  border: 7px dashed black;
  margin-bottom: 15px;
}

.random-cat-image:hover {
  border: 7px dashed #e7893c;
}

.inputfield {
  font-family: 'Cantarell', sans-serif;

}

.text-overlay {
  position: relative;
  top: 10px;
  left: 10px;
  width: fit-content;
  background: white;
}

.title-photo {
  width: 80%;
  margin-left: 25px;
}

.text-input {
   border: 1px solid lightgray;
   border-radius: 6px;
   padding: 5px;
}

.note-section {
  margin-top: 75px;
}

.url-input-span {
  margin-top: 25px;
}

.save-button,
.save-button-edit {
  font-family: 'Roboto', sans-serif;
  background-color: #26A69A;
  border: none;
  color: white;
  border-radius: 3px;
  padding: 6px 10px;
  margin-top: 30px;
  float: right;
}

.pen-icon {
  font-size: 2rem;
}

/* edit page */

.cancel-button {
  border: none;
  background-color: white;
  font-family: 'Cantarell', sans-serif;
  margin-right: 25px;
  font-size: 1rem;
  color: red;
  font-weight: 800;
  text-decoration: underline;
}

.button-container {
  display: flex;
  justify-content: space-between;
}

.delete-button {
  font-family: 'Roboto', sans-serif;
  background-color: tomato;
  border: none;
  color: white;
  border-radius: 3px;
  padding: 6px 10px;
  margin-top: 30px;
  float: right;
}
